# Database
DB_HOST=localhost # Docker
DB_PORT=5432
DB_NAME=finance
DB_USER=your_user
DB_PASSWORD=your_password
DB_URL=postgresql://your_user:your_password@localhost:5432/finance
# Session
SECRET_KEY=change-me-to-a-random-string
# App settings
APP_PORT=3200
APP_DEBUG=false
